.layout-album {
  background-color: #fff;
  background-image: url('/images/brick-pattern.jpg');
  background-repeat: repeat;
  background-position: center top;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(10%,rgba(255,255,255,0))), color-stop(100%,rgba(255,255,255,0))),
  url('/images/brick-pattern.jpg');
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
  url('/images/brick-pattern.jpg');
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
  url('/images/brick-pattern.jpg');
  background-image: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
  url('/images/brick-pattern.jpg');
  background-image: -o-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
  url('/images/brick-pattern.jpg');
  background-image: linear-gradient(top bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%),
  url('/images/brick-pattern.jpg');
  padding: 6em 0 10em;
}