/**
 * Utility
 */
.is-relative
  position: relative

.is-absolute
  position: absolute


@font-face
  font-family: 'Peas-Carrots'
  src: url('/fonts/Peas-Carrots.woff')

/**
 * Base
 */
body, h1, h2, h3, h4, h5, h6
  font-family: "微軟正黑體", Helvetica

.container-fluid
  .row
    margin-right: 0
    margin-left: 0

.logo
  left: 50%
  transform: translateX(-50%)
  top: 1em

.main-image
  width: 100%

.layout-info
  position: relative
  background-color: #40bed4
  background-image: url('/images/info-bg.jpg')
  background-position: bottom left
  background-repeat: repeat-x
  color: #fbd651
  padding-top: 4em
  padding-bottom: 12em

  h1, h2, h3, h4, h5, h6
    font-family: Peas-Carrots

.layout-rsvp
  background-color: #c53440
  padding: 0
  margin-bottom: 0
  color: #fff
  font-family: 'Peas-Carrots'
  font-size: 4em

.layout-rsvp-form
  background-image: url('/images/form-bg.jpg')
  background-repeat: repeat
  padding-top: 4em
  padding-bottom: 4em
  color: #435573

.cloud-container
  position: absolute
  top: 0
  left: 0
  background-image: url('/images/clouds.png')
  background-repeat: repeat-x
  width: 100%
  height: 235px

#rsvp-form
  border-width: 0.25em