/**
 * Utility
 */
.is-relative
  position: relative

.is-absolute
  position: absolute

.logo
  left: 50%
  transform: translateX(-50%)
  top: 14px

.main-image
  width: 100%

.layout-rsvp
  background-color: #00405d
  height: 165px
  padding: 20px 0
  margin-bottom: 0

.layout-rsvp-form
  background-color: #504951

.form-bg
  background-image: url('/images/paper.jpg')
  background-repeat: repeat
  background-position: center top

.form-position
  margin-top: 100px
  padding-top: 25px
  padding-bottom: 25px