<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Yu &amp; Amy's Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="yuAmyWeddinggithubioApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-default navbar-color navbar-volume navbar-fixed-top">
      <div class="container-fluid">
        <p class="text-center is-relative navbar-logo">
          <img class="navbar-logo-image" alt="Yu &amp; Amy's Wedding" src="images/logo.png">
        </p>
      </div>
    </nav>

    <div class="container-fluid" style="padding: 0">
      <img src="images/jumbotron.jpg" class="main-image">
      <p class="layout-rsvp text-center">
        <img src="images/rsvp.png">
      </p>
      <div class="row layout-rsvp-form" ng-controller="FormCtrl as vm">
        <form action="https://docs.google.com/forms/d/1eW85Lez3glZAXvjIUzxcC9pQEtKPVbZDpNp5Xd3Iwos/formResponse"
              method="POST"
              class="col-md-4 col-md-offset-4 form-bg form-position"
              ng-upload="vm.onSubmitForm(content)"
              upload-options-before-submit="vm.beforeSubmitForm()"
              error-catcher="vm.onSubmitFormError(error)">
            <div class="form-group" id="name-form-group"
                 ng-class="{'has-error': vm.hasNameError, 'has-feedback': vm.hasNameError}">
              <label class="control-label" for="form-name-input">敢問英雄貴姓大名？</label>
              <input type="text" class="form-control" id="form-name-input"
                     aria-describedby="name-error-description"
                     placeholder="" name="entry.524503362"
                     ng-model="vm.name">
              <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"
                    ng-show="vm.hasNameError"></span>
              <span id="name-error-description" class="sr-only">(error)</span>
            </div>
            <div class="form-group">
              <label>男方親友？女方親友？</label><br>
              <label class="radio-inline">
                <input type="radio" name="entry.1863114941" value="Yu" ng-model="vm.friendOf"> Yu
              </label>
              <label class="radio-inline">
                <input type="radio" name="entry.1863114941" value="Amy" ng-model="vm.friendOf"> Amy
              </label>
              <label class="radio-inline">
                <input type="radio" name="entry.1863114941" value="Both" ng-model="vm.friendOf"> Both
              </label>
            </div>
            <div class="form-group">
              <label for="form-phone-input">電話</label>
              <input type="text" class="form-control" id="form-phone-input"
                     placeholder="" name="entry.1148070401" ng-model="vm.phone">
            </div>
            <div class="form-group">
              <label>是否出席？</label><br>
              <label class="radio-inline">
                <input type="radio" name="entry.1255396603" value="yes"
                       ng-model="vm.mayAttend" ng-change="vm.onAttendStatusChanged()"> 是
              </label>
              <label class="radio-inline">
                <input type="radio" name="entry.1255396603" value="no but has gift"
                       ng-model="vm.mayAttend" ng-change="vm.onAttendStatusChanged()"> 禮到人不到
              </label>
              <label class="radio-inline">
                <input type="radio" name="entry.1255396603" value="no"
                       ng-model="vm.mayAttend" ng-change="vm.onAttendStatusChanged()"> 否
              </label>
            </div>
            <div ng-show="vm.willAttend()">
              <div class="form-group" id="attendee-form-group"
                   ng-class="{'has-error': vm.hasAttendeeCountError}">
                <label class="control-label" for="form-carnivore-input">葷食人數</label>
                <input type="number" class="form-control" id="form-carnivore-input"
                       name="entry.1569189985" step="any" min="0"
                       ng-model="vm.carnivoreCount">
              </div>
              <div class="form-group" ng-class="{'has-error': vm.hasAttendeeCountError}">
                <label class="control-label" for="form-vegetarian-input">素食人數</label>
                <input type="number" class="form-control" id="form-vegetarian-input"
                       name="entry.1171556348" step="any" min="0"
                       ng-model="vm.vegetarianCount">
              </div>
              <div class="form-group" ng-class="{'has-error': vm.hasChildSeatCountError}">
                <label class="control-label" for="form-childseat-input">需要兒童座椅嗎？</label>
                <input type="number" class="form-control" id="form-childseat-input"
                       name="entry.329710443" step="any" min="0"
                       ng-model="vm.childSeatCount">
              </div>
              <div class="form-group">
                <label>出席人數</label>
                <p class="form-control-static" ng-bind="vm.getAttendeeCount()"></p>
                <input type="hidden" name="entry.1613905738" value="{{vm.getAttendeeCount()}}">
              </div>
            </div>
            <div class="form-group">
              <label for="form-email-input">如果你需要電子喜帖，請填 email</label>
              <input type="text" class="form-control" id="form-email-input"
                     value="" name="entry.275160557"
                     ng-model="vm.email">
            </div>
            <div class="form-group">
              <label for="form-address-input">如果你需要紙本喜帖，請填地址</label>
              <input type="text" class="form-control" id="form-address-input"
                     value="" name="entry.2065599770"
                     ng-model="vm.address">
            </div>
            <div class="form-group">
              <label for="form-blessing-input">想說點祝福的話嗎？</label>
              <textarea class="form-control" id="form-blessing-input" name="entry.519644995"
                        ng-model="vm.blessing"></textarea>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-lg btn-success" value="Send"
                     ng-disabled="$isUploading">
            </div>
          </form>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ngUpload/ng-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/form.js"></script>
        <!-- endbuild -->
</body>
</html>
